In [3]:
import mysql.connector as mysql

class Database:
    def __init__(self, host, user, passwd):
        self.__host = host
        self.__user = user
        self.__passwd = passwd
        self.__MySQL = self.__connect_MySQL()
        self.__database = None
    
    def __connect_MySQL(self):
        db = mysql.connect(host=self.__host, \
                           user=self.__user, \
                           passwd=self.__passwd)
        return db
    
    def __set_Database(self, name):
        self.__database= mysql.connect(host=self.__host,\
                                       user=self.__user,\
                                       passwd=self.__passwd,\
                                       database=name)

    def create_Database(self, name):
        try:
            c = self.get_Cursor(self.__MySQL)
            c.execute(f"CREATE DATABASE {name}")
        except:
            pass
        self.__set_Database(name)
    
    def create_Table(self, name, colDict):
        c = self.get_Cursor(self.__database)
        
        col_str = ""
        for i,k in enumerate(colDict.keys()):
            col_str += f"{k} {colDict[k]}"
            if i != len(colDict)-1:
                col_str += ","
        
        execution_str = f"CREATE TABLE {name} (id INT(11)\
                        NOT NULL AUTO_INCREMENT PRIMARY KEY,\
                        {col_str})"
        try:
            c.execute(execution_str)
        except:
            pass
    
    def get_Database(self):
        c = self.get_Cursor()
        return self.__database
    
    def get_Cursor(self, db):
        if db is not None:
            return db.cursor()
        else:
            raise ValueError("Database does not exist")
    
    def insert_Row(self, table_name, dataDict):
        c = self.get_Cursor(self.__database)
        
        key_str = ""
        value_type_str = ""
        values = []
        
        for i,k in enumerate(dataDict.keys()):
            key_str += f"{k}"
            value_type_str += f"%s"         #f"{dataDict[k][1]}"
            values.append(dataDict[k])
            if i != len(dataDict)-1:
                key_str += ", "
                value_type_str += ", "
                
        query = f"INSERT INTO {table_name} ({key_str}) VALUES ({value_type_str})"
        c.execute(query, tuple(values))
        self.__database.commit()
#         print(c.rowcount, "New Entry")
        
    def show_Databases(self):
        c = self.get_Cursor(self.__MySQL)
        c.execute("SHOW DATABASES")
        databases = c.fetchall()
        for d in databases:
            print(d)
            
    def show_Tables(self):
        c = self.get_Cursor(self.__database)
        c.execute("SHOW TABLES")
        tables = c.fetchall()
        for t in tables:
            print(t)
            
    def show_Table(self, name):
        c = self.get_Cursor(self.__database)
        c.execute(f"DESC {name}")
        print(c.fetchall())

In [4]:
db = Database('localhost', 'root', 'softwareengineering130')

In [5]:
db.create_Database('cs130_test')

In [6]:
db.show_Databases()

('cs130_test',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
col_dict = {'item': 'VARCHAR(255)', 'calories': 'INT'}

In [8]:
db.create_Table('diet', col_dict)

In [9]:
db.show_Tables()

('diet',)

In [10]:
db.show_Table('diet')

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('item', b'varchar(255)', 'YES', '', None, ''), ('calories', b'int', 'YES', '', None, '')]

In [11]:
data_dict = {'item': 'apple', 'calories': 100}

In [12]:
db.insert_Row('diet', data_dict)

In [11]:
db.show_Table('diet')

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('item', b'varchar(255)', 'YES', '', None, ''), ('calories', b'int', 'YES', '', None, '')]

In [13]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
    database = "cs130_test"
)

cursor = db.cursor()

## dropping the 'id' column
cursor.execute("ALTER TABLE users DROP id")

cursor.execute("DESC users")

print(cursor.fetchall())

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [19]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE testing")

In [64]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
    database = "testing"
)

cursor = db.cursor()

## creating a table called 'users' in the 'datacamp' database
cursor.execute("CREATE TABLE dt2 (iden INT NOT NULL AUTO_INCREMENT PRIMARY KEY, dtm DATETIME, user_name VARCHAR(255))")

In [65]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
    database = "testing"
)

cursor = db.cursor()

## 'DESC table_name' is used to get all columns information
cursor.execute("DESC dt2")

## it will print all the columns as 'tuples' in a list
print(cursor.fetchall())

[('iden', b'int', 'NO', 'PRI', None, 'auto_increment'), ('dtm', b'datetime', 'YES', '', None, ''), ('user_name', b'varchar(255)', 'YES', '', None, '')]

In [70]:
import mysql.connector as mysql
from datetime import datetime
from datetime import datetime, date, timedelta

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
    database = "testing"
)

cursor = db.cursor()
print(datetime.now())
## defining the Query
query = "INSERT INTO dt2 (dtm, user_name) VALUES (%s, %s)"
## storing values in a variable
values = (datetime.now() + timedelta(days=4), "aditya")

## executing the query with values
cursor.execute(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "record inserted")

2020-11-18 18:27:46.836603
1 record inserted

In [72]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
    database = "testing"
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM dt2"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, datetime.datetime(2020, 11, 18, 18, 27, 38), 'aditya')
(2, datetime.datetime(2020, 11, 19, 18, 27, 41), 'aditya')
(3, datetime.datetime(2020, 11, 20, 18, 27, 43), 'aditya')
(4, datetime.datetime(2020, 11, 21, 18, 27, 45), 'aditya')
(5, datetime.datetime(2020, 11, 22, 18, 27, 47), 'aditya')

In [88]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "softwareengineering130",
    database = "testing"
)

cursor = db.cursor()

## defining the Query
given_date = date.today()
next_date = given_date + timedelta(days=1)

query = f"SELECT * FROM dt2\
        WHERE dtm >= '{given_date}' AND\
        dtm <= '{next_date}'"

# query = ("SELECT * FROM dt2 WHERE dtm BETWEEN ")
# dtt = (given_date, next_date)
## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, datetime.datetime(2020, 11, 18, 18, 27, 38), 'aditya')